.navbar {
  background-color: #2d2d2d;
  border: none;
}

.navbar li a {
  font-size: 18px;
}

.navbar li a:hover {
  background-color: #2d2d2d;
}

body {
  background-image: url(../img/background.jpg);
  }

.row img {
  max-width: 640px;
  max-height: 480px;
  padding: 10px;
}

.well {
  background-color: rgba(128, 128, 128, 0.4);
  color: white;
}
div .row .well {
  float: left;
  font-size: 18px;
  padding: 5px;
  border: 2px solid black;
  margin: 12px;
  width: 400px;
}

div .row .well img {
  height: 390px;
  width: 390px;
  max-width: 390px;
  max-height: 390px;
}

#pic_01-showing {
  display: none;
}

#pic_02-showing {
  display: none;
}

#pic_03-showing {
  display: none;
}

#pic_04-showing {
  display: none;
}

.clickable01 {
  cursor: pointer;
  color: #0088cc;
}

.clickable01:hover {
  text-decoration: underline;
}

.clickable02 {
  cursor: pointer;
  color: #0088cc;
}

.clickable02:hover {
  text-decoration: underline;
}

.clickable03 {
  cursor: pointer;
  color: #0088cc;
}

.clickable03:hover {
  text-decoration: underline;
}

.clickable04 {
  cursor: pointer;
  color: #0088cc;
}

.clickable04:hover {
  text-decoration: underline;
}
