.navbar {
  background-color: #2d2d2d;
  border: none;
}

.navbar li a {
  font-family: 'Chelsea Market', cursive;
  font-size: 18px;
}

.navbar li a:hover {
  background-color: #2d2d2d;
}

body {
  background-image: url(../img/background.jpg);
  }

.row img {
  max-width: 640px;
  max-height: 480px;
  padding: 10px;
}

.well {
  background-color: rgba(128, 128, 128, 0.4);
}
div .row .well {
  float: left;
  font-size: 18px;
  padding: 14px;
  border: 2px solid black;
  margin: 12px;
}
